@use '../../styles/mixins' as m;
@use '../../styles/variables' as *;

.iconButtonContainer {
  @include m.button-click(1);
  display: inline-flex;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: transform 0.1s ease;
}
