@use '../../../../styles/mixins' as m;
@use '../../../../styles/variables' as *;

.uploadPhotoContainer {
  @include m.flex-column-center(center, center, 22px);

  .photo {
    width: 241px;
    height: 293px;
    background-color: $color-white;
    border-radius: 8px;
    background-image: linear-gradient(
      0deg,
      rgba(255, 62, 61, 0.1) 0%,
      rgba(250, 255, 187, 0.1) 100%
    );
    box-shadow: 8px 8px 8px 0 rgba(67, 0, 209, 0.1);
  }
}

.uploadedPhoto {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
}

.noUpload {
  @include m.flex-column-center(center, center, 50px);
  margin-top: 30px;

  img {
    margin-left: 125px;
  }
}

.bubble {
  position: relative;
  width: 207px;
  height: 80.7px;
  padding: 24px 22px;
  background: #ffffff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: $main-color1 solid 1px;
  box-shadow: 8px 8px 8px 0 rgba(67, 0, 209, 0.06);

  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 6px 1px;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -16px;
    left: 157px;
  }

  &::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 6px 0;
    border-color: $main-color1 transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -17px;
    left: 157px;
  }

  p {
    @include m.font-size-weight(14px);
    color: $main-color2;
  }
}
