@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as m;

.tabBarWrapper {
  position: relative;
  width: 100%;
  height: 68px;

  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 68px;
  }
}

.tabIcons,
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.createChallengeBtn {
  position: absolute;
  top: 25%;
  left: 49.25%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.tabIcons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include m.flex-row-center;
  gap: 170px;

  .tabIcon {
    @include m.flex-column-center;
    gap: 5px;
    width: 53px;
    height: 49px;
  }

  .tabText {
    font-size: 12px;
    font-weight: 600;
    color: $main-color2;
  }
}
